<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Location Information
      </div>

      <div class="item">
        <h2 style="font-weight:bold">Our Address</h2>
        <address style="font-size: 100%">
          121, Clear Water Bay Road<br> Clear Water Bay, Kowloon<br> HONG KONG<br>
          <i class = "icon icon ion-ios-telephone"></i>: +852 1234 5678<br>
          <i class = "icon icon ion-printer"></i>: +852 8765 4321<br>
          <i class = "icon icon ion-email"></i>:
          <a href="mailto:confusion@food.net">confusion@food.net</a>
        </address>
      </div>
      <div class="item item-divider">
        <div class="button-bar">
          <a class="button button-positive"><i class = "icon icon ion-ios-telephone" style="margin-right:10px;"></i>Call</a>
          <a class="button button-calm"><i class = "icon icon ion-social-skype" style="margin-right:10px;"></i>Skype</a>
          <a class="button button-balanced"><i class = "icon icon ion-email" style="margin-right:10px;"></i>Email</a>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>