
<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
<h3><b>Location Information</b></h3>
        </div>
        <div class="item item-text-wrap">
<p>
  <h2>Our Address</h2>
   <address style="font-size: 100%">
 121, Clear Water Bay Road<br>
 Clear Water Bay, Kowloon<br>
 HONG KONG<br>
 <i class="icon ion-ios-telephone"></i>: +852 1234 5678<br>
 <i class="fa ion-ios-printer"></i>: +852 8765 4321<br>
 <i class="fa ion-ios-email"></i>:
       <a href="mailto:confusion@food.net">confusion@food.net</a>
</address>
</p>
</div>

<div class="button-bar">
  <button class="button icon-left ion-android-call button-positive">Call</button>
  <button class="button icon-left ion-social-skype button-calm">Skype</button>
  <button class="button icon-left ion-android-mail button-balanced">Email</button>
</div>

</div>
  </ion-content>
</ion-view>
