<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Location Information
      </div>
      <div class="item item-text-wrap">
        <h2>Our Address</h2>
        <p>121, Clear Water Bay Road</p>
        <p>Clear Water Bay, Kowloon</p>
        <p>HONG KONG</p>
        <p><i class="icon ion-android-call"></i>: +852 1234 5678</p>
        <p><i class="icon ion-android-print"></i>: +852 8765 4321</p>
        <p><i class="icon ion-android-mail"></i>: <a href="mailto:confusion@food.net">confusion@food.net</a></p>          
      </div>
      <div class="button-bar">
        <a class="button button-positive"><i class="icon ion-android-call"></i> Call</a>
        <a class="button button-calm"><i class="icon ion-social-skype"></i> Skype</a>
        <a class="button button-balanced"><i class="icon ion-android-mail"></i> Email</a>
      </div>
    </div>
  </ion-content>
</ion-view>