<ion-popover-view>
  <ion-content>
    <ul class="list ">
      <li class="item" ng-click="addFavorite({{dish.id}})">
        Add to Favorites
      </li>
      <li class="item" ng-click="comment()">
        Add Comment
      </li>
    </ul>
  </ion-content>
</ion-popover-view>
