<ion-popover-view>
    <ion-content>
    <button ion-button class="button button-clear button-positive popover-inner-content"
            ng-click = "addFavorite()">Add to Favorites</button>
    <button ion-button class="button button-clear button-positive popover-inner-content"
            ng-click = "toComment()">Add Comment</button>
    </ion-content>
</ion-popover-view>