<ion-modal-view >
  <ion-header-bar>
    <h1 class="title">Add Comment</h1>
    <div class="buttons">
      <button class="button button-positive" ng-click="closeComment()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content >
    <form id="commentForm" name="commentForm" ng-submit="submitComment()">
      <div class="list">
        <label class="item item-input item-select">
          <span class="input-label">Rating</span>
            <select ng-model="feedback.rating">
                <option ng-repeat="n in [1,2,3,4,5,6]" value="{{n}}">{{n}}</option>
            </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Your Name</span>
          <input type="text" ng-model="feedback.author">
        </label>
        <label class="item item-input">
          <span class="input-label">Your Comment</span>
          <input type="text" ng-model="feedback.comment">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Submit</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>