<ion-popover-view>
<ion-content>
  <button class="button button-block" ng-click="addFavorite(dish.id)">Add to favorites</button>
  <button class="button button-block" ng-click="addComment()">Add comment</button>
  </ion-content>
</ion-popover-view>